.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tabs-container {
    width: 30vw;
    background-color: var(--card-background);
    border-radius: 12px;
}

.tab-btns {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.tab {
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 7px;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.tab-active {
    background-color: var(--primary-color);
}

.login-cards {
    margin-top: 10px;
}

.form-container {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container > h3 {
    text-align: center;
}

#login-form {

}

#register-form {

}

.form-input {
    display: flex;
    flex-direction: column;
}

.forgot-password-link {
    text-align: center;
    font-size: 14px;
}

@media (max-width: 670px) {
    .tabs-container {
        width: 60vw;
    }
}
